@import '~materialize-css/sass/materialize';
@import '~trumbowyg/dist/ui/sass/trumbowyg';

nav {
    position: fixed;
    z-index: 99;
    background-color: #fff;
}

nav a {
    color: #000;
}

.carousel-admin-card {
    position: relative;
}

.hide-on-med-and-down li {
    margin: 0 10px;
}

.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

form.collapsible-header {
    flex-direction: column;
    align-items: flex-start;
}

.slide-image img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item img {
    object-fit: contain;
}

.cart-item .info {
    flex: 1;
    padding: 0 10px;
}

.cart-item .actions {
    align-items: flex-end;
    justify-content: space-between;
}

.cart-item div {
    display: flex;
    flex-direction: column;
}

.carousel-admin-card img {
    height: 400px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
}

.list>li {
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px 10px 10px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.absolute-form {
    position: absolute;
    bottom: 40px;
}

.flex {
    display: flex;
    padding: 0 0.75rem;
}

.align-center {
    align-items: center;
}

.i-nav {
    height: 35px !important;
    line-height: 35px !important;
}

.card .view {
    display: flex;
}

nav ul a {
    color: #000;
    line-height: normal;
    padding: .5rem 15px;
    transition: 0.3s linear;
    display: flex;
    align-items: center;
}

.secondary-content {
    color: #0fa1e0;
}

.admin-catalog .actions {
    display: flex;
}

.page-footer {
    padding-top: 20px;
    color: #0fa1e0;
    background-color: #fff;
}

.page-footer .footer-copyright {
    color: #0fa1e0;
    background-color: transparent;
}

#new-product {
    display: none;
}

.brand-logo {
    height: 100%;
}

.search-bar * {
    border-radius: 0 !important;
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 0;
}

a.btn-flat {
    color: #0fa1e0 !important;
    background-color: transparent !important;
}

.card {
    display: flex;
    flex-direction: column;
}

div.cascade div.view img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.cascade div.view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
    height: 230px;
    display: flex;
}



.view {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    background-color: #fff;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.my-badge-wrapper {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.card-body {
    margin: 4%;
}

div.cascade {
    margin: 2.75rem 0 0 0;
}

.btn {
    color: #fff !important;
    background-color: #0fa1e0 !important;
}

.news {
    margin: 2.75rem 0 0 0;
}

.bread {
    position: relative !important;
    box-shadow: none;
    z-index: 0;
}

.news li {
    transition: 0.2s linear;
    cursor: pointer;
}

.news li:hover {
    color: #fff;
    background-color: #0fa1e0;
}

.news li:hover .secondary-content {
    color: #fff;
}

.nav-active {
    background-color: #0fa1e0 !important;
    color: #fff !important;
}

.collection-item {
    color: #000;
}

.breadcrumb:before {
    color: #0fa1e0 !important;
}

.breadcrumb {
    color: #0fa1e0 !important;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 1320px) {
    .hide-on-med-and-down {
        display: none !important;
    }

    nav a.sidenav-trigger {
        display: block;
    }

    main {
        margin: 56px 0 0 0 !important;
    }
}

.cart-feature {
    background-color: #0fa1e0;
}

.my-badge-wrapper span {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    min-width: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -10px;
    right: -10px;
    z-index: 99;
}

.collection .collection-item.active {
    background-color: #0fa1e0;
    color: #fff;
}

.cart-feature:hover {
    background-color: #0fa1e0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    margin: 64px 0 0 0;
    flex: 1 0 auto;
    position: relative;
}

* {
    outline: none;
}

.search-bar input {
    border: 2px solid #0fa1e0 !important;
    border-radius: .125rem;
    flex: 1 !important;
    margin: 0 !important;
    padding: 0 0 0 6px !important;
    height: 49px !important;
}

.search-bar i {
    min-width: 49px !important;
    height: 49px !important;
    color: #0fa1e0;
    border-top: 2px solid #0fa1e0;
    display: flex !important;
    border-bottom: 2px solid #0fa1e0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s linear;
    border-right: 2px solid #0fa1e0;
}

.collapsible-header {
    align-items: center;
    justify-content: space-between;
}

.collapsible-header h5 {
    margin: 0
}

i.card-img-top {
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 9999;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.admin-catalog {}

.admin-catalog .actions a.btn {
    margin: 0 10px;
}

nav .brand-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar i:hover {
    color: #fff;
    background-color: #0fa1e0;
}

.brand-logo img {
    max-height: 90%;
    max-width: 80%;
}

nav ul a:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border-radius: .125rem;
    background-color: #0fa1e0;
}

ul.hide-on-med-and-down {
    display: flex;
    padding: .5rem;
    align-items: center;
    height: 100%;
}
