


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~mdbootstrap/scss/mdb';

.dropdown-menu{
    padding: 0.5rem 0.5rem;
}
.navbar .dropdown-menu a:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #18a6e5;
    border-radius: .125rem;
    transition: all .1s linear;
    color: #fff!important;
}
.primary{
    color: #fff;
    background-color: #585858;
}
.navbar-brand img{
    height: 30px;
}
.full-width{
    width: 100%;
    border-radius:0; 
}
.flex-search{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.index-ul{
    padding: 15px;
}
.flex-search input.form-control{
    flex: 1;
}
ul{
    list-style-type: none;
    padding: 0;
}
a:hover{
    color: inherit!important;
}
.grid-catalog{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 10px;
}
.btn{
    background-color: #18a6e5;
    color: #fff;
}
.view {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

    border-radius: .25rem;
}
.carousel-item .view{
    max-height: 500px;
    border-radius:0!important;
}
.carousel-item .view img{
    max-height: 500px;
}
div.cascade{
    margin-top: 2.75rem;
}
.show{
    transition: 0.2s linear
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
   
div.cascade div.view{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
}